
/* events Section */
.events {
    padding: 1rem;
    width: 100%;
}

.events .container {
    width: 100%;
}

.events .container .item1 {
    margin: auto;
    width: 100%;
    
}
.events .container .item1 #text1 {
    color: #40128B;
    font-size: 24px;
}

.events .container .item1 #head {
    font-size: 40px;
}

.events .container .item1 #text2 {
    font-size: 50px;
}

@keyframes ud-slide {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width:1040px) {
    .events .container .item1 #text1 {
        font-size: 26px;
    }

    .events .container .item1 #head {
        font-size: 36px;
    }
}

@media screen and (max-width:840px) {
    .events .container .item1 {
        margin: auto;
        width: 100%;
    }
    .events .container .item1 #text1 {
        font-size: 20px;
    }

    .events .container .item1 #head {
        font-size: 28px;
    }
}

@media (max-width:680px) {
    .events .container .item1 #text1 {
        font-size: 16px;
    }

    .events .container .item1 #head {
        font-size: 24px;
    }
}
@media (max-width:480px){
    .events .container .item1 .content .sub-container {
        max-height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}
