
/* sponsors Section */
.sponsors {
    background: linear-gradient(to bottom,#0077ff, white);
    width: 100%;
}

.sponsors .container {
    width: 100%;
}

.sponsors .container .item1 {
    margin: auto;
    width: 100%;
    
}
.sponsors .container .item1 #text1 {
    color: #40128B;
    font-size: 24px;
}

.sponsors .container .item1 #head {
    font-size: 40px;
}

.sponsors .container .item1 #text2 {
    font-size: 50px;
}

@keyframes ud-slide {
    0% {
        transform: translateY(0%);
    }

    50% {
        transform: translateY(10%);
    }

    100% {
        transform: translateY(0%);
    }
}

@media screen and (max-width:1040px) {
    .sponsors .container .item1 #text1 {
        font-size: 26px;
    }

    .sponsors .container .item1 #head {
        font-size: 36px;
    }
}

@media screen and (max-width:840px) {
    .sponsors .container .item1 {
        margin: auto;
        width: 100%;
    }
    .sponsors .container .item1 #text1 {
        font-size: 20px;
    }

    .sponsors .container .item1 #head {
        font-size: 28px;
    }
}

@media (max-width:680px) {
    .sponsors .container .item1 #text1 {
        font-size: 16px;
    }

    .sponsors .container .item1 #head {
        font-size: 24px;
    }
}
@media (max-width:480px){
    .sponsors .container .item1 #text1 {
        font-size: 16px;
    }

    .sponsors .container .item1 #head {
        font-size: 24px;
    }
}